/*body{
    height: 100%;
}*/

#container{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    padding: 0.5em;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 7fr 3fr;
    grid-template-rows: 0.5fr 0.5fr 3fr 2fr;
    grid-template-areas: 
    "search  pokeinfo"
    "button pokeinfo"
    "pokelist pokeinfo"
    "pokelist pokebox";
}

.checkPokemon{
    display: none;
}

.pokeball{
    display: inline-block;
    background-image: url(../images/pokeball-abierta-sin-fondo.png);
    background-size: auto 100%;
    width:  4rem;
    height: 4rem;
    background-repeat: no-repeat;
}

.checkPokemon:checked + .pokeball{
    display: inline-block;
    background-image: url(../images/pokeball-cerrada-sin-fondo.png);
    background-size: auto 100%;
    width:  3.2rem;
    height: 3.2rem;
    background-repeat: no-repeat;
}

#pokemonListContainer{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
}


#scrollPokelist{
    height: 100%;
    padding: 10px 10px;
    overflow: auto;
    grid-area: pokelist;
    max-height: 63rem;
}

#pokemonInfo{
    width: 97%;
    border: 0.5px solid black;
    padding: 1.4%;
    overflow: auto;
    grid-area: pokeinfo;
    gap: 0.2rem;
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 6fr 1fr 2fr 1fr;
    grid-template-areas: 
        "imgPkmnInfo imgPkmnInfo"
        "pkmnDescription types"
        "pkmnDescription abilities"
        "manage manage";
}

#CImgPkmnInfo{
    width: 70%;
    margin: 0px auto;
    grid-area: imgPkmnInfo;
}

#imgPkmnInfo{
    width: 100%;
}

#pkmnDescription{
    grid-area: pkmnDescription;
}

#types{
    grid-area: types;
    text-align: center;
}

#abilities{
    grid-area: abilities;
}

#abilities> *{
    text-align: center;
}

#manage{
    grid-area: manage;
    text-align: center;
}

#scrollPokebox{
    max-height: 25rem;
    border: 1px solid black;
    overflow: auto;
}

#pokebox{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
}

@media screen and (max-width: 414px) and (min-width: 360px){
    #pokemonListContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 0.5rem;
    }
    
    #scrollPokelist{
        height: 100%;
        padding: 10px 10px;
        overflow: auto;
        grid-area: pokelist;
        max-height: 31rem;
    }

    #scrollPokebox{
        max-height: 11.5rem;
        overflow: auto;
    }
    
    #pokebox{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 0.5rem;
    }
}

#search{
    grid-area: search;
}

#buttons{
    grid-area: button;
}

#saveFavs{
    grid-area: otherbutton;
}