html{
    height: 100%;
}

#container{
    width: 90%;
    height: 100%;
    margin: 0px auto;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 0.5fr 5fr 3fr;
    grid-template-areas: 
    "search  pokeinfo"
    "button pokeinfo"
    "pokelist pokeinfo"
    "pokelist pokebox";
}

.checkPokemon{
    display: none;
}

.pokeball{
    display: inline-block;
    background-image: url(../images/pokeball-abierta-sin-fondo.png);
    background-size: auto 100%;
    width:  4rem;
    height: 4rem;
    background-repeat: no-repeat;
}

.checkPokemon:checked + .pokeball{
    display: inline-block;
    background-image: url(../images/pokeball-cerrada-sin-fondo.png);
    background-size: auto 100%;
    width:  3.2rem;
    height: 3.2rem;
    background-repeat: no-repeat;
}
#pokemonListContainer{
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
}


#scrollPokelist{
    height: 100%;
    padding: 10px 10px;
    overflow: auto;
    grid-area: pokelist;
    max-height: 31rem;
}

#pokemonInfo{
    width: 100%;
    border: 1px solid black;
    padding: 10px 10px;
    overflow: auto;
    grid-area: pokeinfo;
}

#pokemonInfo ul{
    list-style-image: url(../images/pokeball-mini.png);
}

#scrollPokebox{
    max-height: 11rem;
    border: 1px solid black;
    overflow: auto;
}

#pokebox{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    gap: 0.5rem;
}

@media screen and (max-width: 414px) and (min-width: 360px){
    #pokemonListContainer{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 0.5rem;
    }
    
    #scrollPokelist{
        height: 100%;
        padding: 10px 10px;
        overflow: auto;
        grid-area: pokelist;
        max-height: 31rem;
    }

    #scrollPokebox{
        max-height: 11.5rem;
        overflow: auto;
    }
    
    #pokebox{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: 1fr;
        grid-auto-rows: 1fr;
        gap: 0.5rem;
    }


}

#search{
    grid-area: search;
}



#buttons{
    grid-area: button;
}

#saveFavs{
    grid-area: otherbutton;
}

#imgPkmnInfo{
    width: 70%;
}

.card{
    border-radius: 1rem;
    box-shadow: 0.1rem 0.1rem 0.5rem  #bbb;
    transition: 0.3s;
}

.card:hover{
    box-shadow: 0.1rem 0.1rem 0.9rem  #777;
    cursor: pointer;
}

.card img{
    width: 100%;
    height: 100%;
}

.card span{
    width: 100%;
    height: 100%;
}
